@import "bootstrap";

@import "swiper";

@import "slides";

@import "footer";

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	
	.logo {
		height: 40px;
	}
}

.main {
	position: relative;
	overflow: hidden;
}